.btn-crimson {
  background-color: rgb(219, 211, 213);
  color: rgb(136, 37, 37); /* Set the text color to contrast with the background */
}


.banner {
  background-color: #660000;
  color: white;
  margin-top: 50px;
  text-align: center;
  /* padding: 50px 0px; */
}

table {
  width: 80%;
  margin: 40px auto;
  background: rgb(219, 211, 213);
}

table.list {
  text-align: center;
  width: 100%;
}

td{
  border: 1px solid rgb(219, 211, 213);
  text-align: left;
  padding: 8px 15px;
}

tr:nth-child(even), table.list thread> tr {
  background-color: rgb(219, 211, 213);
}